form.donation-amounts {
  display: flex;
  margin-bottom: 1rem;
  input {
    display: none;
  }
  input:checked + label {
    background: green;
  }
  label {
    padding: 1rem;
    margin-right: 1rem;
    cursor: pointer;
    background: red
  }
}