<Navigation @location={{location}} />
<hr>
<div>
  Amount: {{amount}}
</div>
{{#if showAmount}}
  <Amount 
    @donationAmounts={{donationAmounts}} 
    @onUpdate={{action updateAmount}} 
  />
{{/if}}
{{#if showDetails}}
  <Details />
{{/if}}