<div>
  <form>
    <input type="text" placeholder="First Name">
    <input type="text" placeholder="Last Name">
    <select 
      name="donation[billing_address_attributes][country_code]" 
      id=""
    >
      <option value="AE">Arb</option>
    </select>
    <input type="text" placeholder="Address Line 1">
    <input type="text" placeholder="Address Line 2">
    <input type="text" placeholder="Address Line 3">
    <input type="text" placeholder="City">
    <input type="text" placeholder="Postal Code">
  </form>
</div>
